header {
  background-color: #ffffff; /* Header background color */
  padding: 1rem; /* Padding for the header */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.logo {
  height: 64px; /* Logo height */
}

nav a {
  color: #4a4a4a; /* Default link color */
  text-decoration: none; /* Remove underline */
  padding: 0.5rem 1rem; /* Padding for links */
  transition: color 0.3s; /* Smooth color transition */
}

nav a:hover,
nav a.active {
  color: #38a169; /* Active and hover link color */
}

.burger-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer; /* Pointer cursor for burger button */
}

.burger-button span {
  width: 32px; /* Width of burger button lines */
  height: 4px; /* Height of burger button lines */
  background-color: #4a4a4a; /* Color of burger button lines */
  margin: 4px 0; /* Spacing between lines */
}
